<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include ../includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include ../includes/left.ejs %>

    <% include ../includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include ../includes/header.ejs %>

        <div id="content" class="clearfix">

            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>
                            Социальные сети
                        </h2>
                    </div>
                    <div class="pull-right">
                        <% if (modules.social.status) { %>
                        <a href="javascript:void(0)" data-module="social" data-status="false" class="btn btn-danger module-status">
                            <i class="fa fa-power-off"></i>&nbsp;Отключить
                        </a>
                        <% } else { %>
                        <a href="javascript:void(0)" data-module="social" data-status="true" class="btn btn-success module-status">
                            <i class="fa fa-power-off"></i>&nbsp;Активировать
                        </a>
                        <% } %>
                    </div>
                </div>
            </header>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/social" class="btn">
                            Модуль соц. пабликов сайта
                        </a>
                    </div>
                    <div class="pull-right">
                        <p>
                            <% if (modules.social.status) { %>
                            <span class="label label-success">Включен</span>
                            <% } else { %>
                            <span class="label label-danger">Отключен</span>
                            <% } %>
                        </p>
                        <a href="javascript:void(0)" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <% if (modules.social.status) { %>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>ВКонтакте:</label>
                        </div>
                        <div class="col-sm-9">
                            <input name="modules.social.data.vk" value="<%- modules.social.data.vk %>" class="form-control" type="text">
                            <div class="helper-text-box">
                                <div class="form-helper-header">Паблик сайта ВКонтакте</div>
                                <p>
                                    Укажите ссылку на паблик в социальной сети ВКонтакте.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="spacer-10"></div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>facebook:</label>
                        </div>
                        <div class="col-sm-9">
                            <input name="modules.social.data.facebook" value="<%- modules.social.data.facebook %>" class="form-control" type="text">
                            <div class="helper-text-box">
                                <div class="form-helper-header">Страница сайта в facebook</div>
                                <p>
                                    Укажите ссылку на страницу в социальной сети facebook.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="spacer-10"></div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>twitter:</label>
                        </div>
                        <div class="col-sm-9">
                            <input name="modules.social.data.twitter" value="<%- modules.social.data.twitter %>" class="form-control" type="text">
                            <div class="helper-text-box">
                                <div class="form-helper-header">Страница сайта в twitter</div>
                                <p>
                                    Укажите ссылку на страницу в социальной сети twitter.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="spacer-10"></div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>G+:</label>
                        </div>
                        <div class="col-sm-9">
                            <input name="modules.social.data.gplus" value="<%- modules.social.data.gplus %>" class="form-control" type="text">
                            <div class="helper-text-box">
                                <div class="form-helper-header">Страница сайта в Google Plus</div>
                                <p>
                                    Укажите ссылку на страницу в социальной сети Google Plus.
                                </p>
                            </div>
                        </div>
                    </div>

                    <% } else { %>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="attention-box attention-danger">
                                <h4>Модуль «Социальные сети» отключен</h4>
                                <div class="spacer-20"></div>
                                <p class="text-muted">
                                    Модуль «Социальные сети» позволяет добавить на сайт ссылки групп в социальных сетях, которые были созданы для сайта.
                                    <br>
                                    Чтобы включить модуль, нажмите на кнопку «Активировать» вверху экрана.
                                </p>
                            </div>
                        </div>
                    </div>

                    <% } %>

                </div>
            </div>

            <% include ../includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>