<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include includes/left.ejs %>

    <% include includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include includes/header.ejs %>

        <div id="content" class="clearfix">

            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>
                            Отображение
                        </h2>
                    </div>
                </div>
            </header>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="#" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/display" class="btn">
                            Параметры вывода фильмов в категориях
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="#" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <div class="faq">

                        <article class="faq-group">
                            <header>
                                <i class="fa fa-minus"></i>
                                <h3>Параметры по умолчанию</h3>
                            </header>
                            <div class="faq-content clearfix">

                                <div class="row">
                                    <div class="col-xs-6">
                                        <select name="config.default.count" class="form-control">
                                            <% for (var i = 1; i <= 30; i++) { %>
                                            <% if (config.default.count == i) { %>
                                            <option value="<%- i %>" selected="selected">
                                                <%- i %> фильма(-ов)
                                            </option>
                                            <% } else { %>
                                            <option value="<%- i %>">
                                                <%- i %> фильма(-ов)
                                            </option>
                                            <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <select name="config.default.sorting" class="form-control">
                                            <% for (name in config.sorting) { %>
                                            <% if (config.default.sorting == name) { %>
                                            <option value="<%- name %>" selected="selected">
                                                <%- config.sorting[name] %>
                                            </option>
                                            <% } else { %>
                                            <option value="<%- name %>">
                                                <%- config.sorting[name] %>
                                            </option>
                                            <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="helper-text-box">
                                            <div class="form-helper-header">Число фильмов</div>
                                            <p>
                                                Число фильмов для всех категорий и результатов поиска.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="helper-text-box">
                                            <div class="form-helper-header">Сортировка фильмов</div>
                                            <p>
                                                Сортировка фильмов для всех категорий и результатов поиска.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <select name="config.default.votes.imdb" class="form-control">
                                            <% for (var i = 100; i <= 10000; i = i+100) { %>
                                            <% if (config.default.votes.imdb == i) { %>
                                            <option value="<%- i %>" selected="selected">
                                                <%- i %> голос(-ов)
                                            </option>
                                            <% } else { %>
                                            <option value="<%- i %>">
                                                <%- i %> голос(-ов)
                                            </option>
                                            <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <select name="config.default.votes.kp" class="form-control">
                                            <% for (var i = 100; i <= 10000; i = i+100) { %>
                                            <% if (config.default.votes.kp == i) { %>
                                            <option value="<%- i %>" selected="selected">
                                                <%- i %> голос(-ов)
                                            </option>
                                            <% } else { %>
                                            <option value="<%- i %>">
                                                <%- i %> голос(-ов)
                                            </option>
                                            <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="helper-text-box">
                                            <div class="form-helper-header">Число голосов КиноПоиск</div>
                                            <p>
                                                Минимальное число голосов КиноПоиск у фильмов, которые будут показаны при сортировке по рейтингу КиноПоиск.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="helper-text-box">
                                            <div class="form-helper-header">Число голосов IMDb</div>
                                            <p>
                                                Минимальное число голосов IMDb у фильмов, которые будут показаны при сортировке по рейтингу IMDb.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </article>

                    </div>

                    <% if (config.sorting) { %>

                    <div class="spacer-20"></div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Рейтинг КП (по уб.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.kinopoisk-rating-up" value="<%- config.sorting['kinopoisk-rating-up'] %>" class="form-control">
                        </div>
                        <div class="spacer-10"></div>
                        <div class="col-sm-3">
                            <label>Рейтинг КП (по воз.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.kinopoisk-rating-down" value="<%- config.sorting['kinopoisk-rating-down'] %>" class="form-control">
                        </div>
                        <div class="spacer-10"></div>
                        <div class="col-sm-3">
                            <label>Голоса КП (по уб.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.kinopoisk-vote-up" value="<%- config.sorting['kinopoisk-vote-up'] %>" class="form-control">
                        </div>
                        <div class="spacer-10"></div>
                        <div class="col-sm-3">
                            <label>Голоса КП (по воз.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.kinopoisk-vote-down" value="<%- config.sorting['kinopoisk-vote-down'] %>" class="form-control">
                        </div>
                        <div class="spacer-10"></div>
                        <div class="col-sm-3">
                            <label>Рейтинг IMDb (по уб.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.imdb-rating-up" value="<%- config.sorting['imdb-rating-up'] %>" class="form-control">
                        </div>
                        <div class="spacer-10"></div>
                        <div class="col-sm-3">
                            <label>Рейтинг IMDb (по воз.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.imdb-rating-down" value="<%- config.sorting['imdb-rating-down'] %>" class="form-control">
                        </div>
                        <div class="spacer-10"></div>
                        <div class="col-sm-3">
                            <label>Голоса IMDb (по уб.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.imdb-vote-up" value="<%- config.sorting['imdb-vote-up'] %>" class="form-control">
                        </div>
                        <div class="spacer-10"></div>
                        <div class="col-sm-3">
                            <label>Голоса IMDb (по воз.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.imdb-vote-down" value="<%- config.sorting['imdb-vote-down'] %>" class="form-control">
                        </div>
                        <div class="spacer-10"></div>
                        <div class="col-sm-3">
                            <label>Год (по уб.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.year-up" value="<%- config.sorting['year-up'] %>" class="form-control">
                        </div>
                        <div class="spacer-10"></div>
                        <div class="col-sm-3">
                            <label>Год (по воз.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.year-down" value="<%- config.sorting['year-down'] %>" class="form-control">
                        </div>
                        <div class="spacer-10"></div>
                        <div class="col-sm-3">
                            <label>Премьера (по уб.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.premiere-up" value="<%- config.sorting['premiere-up'] %>" class="form-control">
                        </div>
                        <div class="spacer-10"></div>
                        <div class="col-sm-3">
                            <label>Премьера (по воз.):</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="config.sorting.premiere-down" value="<%- config.sorting['premiere-down'] %>" class="form-control">
                        </div>
                    </div>

                    <% } %>

                </div>
            </div>

            <% include includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>